@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

* {
  box-sizing: border-box;
}

:root {
  --body_background-color: #f0f8ff;
  --body_color: rgb(33, 150, 150);
  --siderbar_active: rgb(222, 221, 221);
}
[data-theme="dark"] {
  --body_background-color: #333333;
  --body_color: #58c7d3;
  --siderbar_active: #f8f8f8;
}

/* GLOBAL STYLES */

body,
.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
  margin-top: 8rem;
  overflow: hidden;
}

button {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: var(--body_color);
}
button:hover {
  color: var(--body_color);
}

.App {
  display: flex;
  margin-bottom: 1px;
}

h1 {
  color: var(--body_color);
}

/* SIDEBAR STYLES */

.app-sidebar {
  width: 30%;
  height: 82vh;
  border-right: 1px solid #ddd;
  background-color: var(--body_background-color);
  border: 3px solid var(--body_color);
  overflow: hidden;
}

.app-sidebar input {
  width: 120px;
  overflow: hidden;
  border: 3px solid var(--body_color);
}

.app-sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  border-bottom: 1px solid var(--body_color);
}
.app-sidebar-header h1 {
  margin: 0;
}

.app-sidebar-notes {
  height: calc(80vh - 78px);
  overflow-y: scroll;
  overflow-x: hidden; /* Hide horizontal scrolling */
  -ms-overflow-style: none;
  scrollbar-width: none;
  white-space: nowrap;
}
.app-sidebar-notes::-webkit-scrollbar {
  display: none;
}

.app-sidebar-note {
  padding: 25px;
  cursor: pointer;
  color: var(--body_color);
  white-space: nowrap;
}
.sidebar-note-title {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.trash {
  color: crimson;
  height: 32px;
  width: 32px;
}

.app-sidebar-header svg {
  color: var(--body_color);
  height: 32px;
  width: 32px;
}

.app-sidebar-note p {
  margin: 10px 0;
}
.app-sidebar-note small {
  display: flex;
  color: #999;
  justify-content: space-between;
}

.app-sidebar-note:hover {
  background: #ddd;
}
.app-sidebar-note.active,
.app-sidebar-note.active small {
  background: var(--siderbar_active);
  color: #000000;
}

/* NOTE EDITOR/PREVIEW (MAIN) STYLES */

.app-main {
  width: 70%;
  height: 82vh;
  border: 3px solid var(--body_color);
  background: var(--body_background-color);
  position: relative;
}

.app-main-note-edit {
  height: 80vh;
  padding: 20px;
  gap: 3.5em;
  color: var(--body_color);
}
.app-main-note-edit svg {
  width: 32px;
  height: 32px;
  color: var(--body_color);
  left: 0;
  float: right;
}

.app-main-note-edit::-webkit-scrollbar {
  display: none;
}

.no-active-note {
  width: 70%;
  height: 82vh;
  line-height: 80vh;
  text-align: center;
  font-size: 2rem;
  color: var(--body_color);
  background-color: var(--body_background-color);
  border: 3px solid var(--body_color);
}
.preview-title {
  font-size: 30px;
}

/* Editing */
.note-area {
  background-color: #f0f8ff;
  gap: 3rem;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  min-height: 65vh;
  height: auto;
  padding: 5px;
}
.preview-title {
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#title {
  border: 1px solid #ddd;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#title::-webkit-scrollbar {
  display: none;
}

.preview-title::-webkit-scrollbar {
  display: none;
}

.note-area::-webkit-scrollbar {
  display: none;
}

.app-main-note-edit input,
textarea {
  display: block;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  resize: none;
  font-size: inherit;
  font-family: inherit;
}

.app-main-note-edit input textarea::-webkit-scrollbar {
  display: none;
}

.app-main-note-edit input {
  height: 50px;
  font-size: 2rem;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.app-main-note-edit input::-webkit-scrollbar {
  display: none;
}

/* Hide the scrollbar for WebKit-based browsers (Chrome, Safari) */

/* Add this media query to rearrange the layout for screens 820px and below */
@media (max-width: 1000px) {
  .App {
    flex-direction: column; /* Change flex direction to column to stack elements */
    height: 130vh;
  }

  .app-sidebar {
    width: 100%; /* Make the sidebar occupy the full width */
    height: 30vh;
  }
  .app-sidebar input {
    width: 200px;
  }

  .app-sidebar-notes {
    height: 230px;
  }
  .edit-button {
    top: 15%;
  }
  .app-main {
    height: 40vh;
  }

  .app-main-note-edit input,
  textarea {
    width: 100%;
  }

  .no-active-note {
    width: 100%;
    min-height: 45vh;
    line-height: 75vh;
  }
  .app-main {
    width: 100%;

    min-height: 60vh;
  }
  .note-area {
    min-height: 50vh;
  }
}

@media (max-width: 450px) {
  .App {
    height: 130vh;
  }
  .note-area {
    min-height: 60vh;
    padding: 5px;
  }
  #Notes h1 {
    font-size: medium;
  }
  #title {
    font-size: medium;
  }
  .nt {
    padding-top: 8px;
  }
  .edit-button {
    top: 7%;
    right: 7%;
  }
  .app-main,
  .no-active-note {
    min-height: 80vh;
  }

  .no-active-note {
    line-height: 40vh;
    height: 49vh;
  }
  .app-sidebar input {
    width: 180px;
  }
  .preview-title {
    margin-bottom: 30px;
  }
  .app-sidebar {
    height: 40vh;
  }
}
